# Ignorer le répertoire target/ (généré par Maven)
target/

# Exceptions pour certains fichiers dans target/
!**/src/main/**/target/
!**/src/test/**/target/

# Ignorer le wrapper Maven (sauf le fichier JAR)
!.mvn/wrapper/maven-wrapper.jar

# Ignorer le fichier application.properties dans src/main/resources
!**/src/main/resources/application.properties

### STS (Spring Tool Suite) ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Ignorer le répertoire build/ (généré par Gradle)
build/

# Exceptions pour certains fichiers dans build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
